.listCard {
  display: flex;
  flex-direction: column;
  width: 25rem;
  min-height: 30rem;
  border: 5px solid white;
  border-radius: 10px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #a0a3a7, #9b9bb1 1px, #e5e5f7 1px, #e5e5f7);
  position: relative;
  z-index: 0;
  overflow: visible;
}

h3 {
  text-align: center;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}


ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

li {
  margin: 0.1rem;
  display: flex;
  gap: 1rem;
}

.addItemButton {
  width: 60%;
  align-self: center;
  margin-top: 2rem;
  &:hover {
    background-color:rgb(112, 142, 150);
    border-color: black;
  }
}

p {
  padding: 0;
  margin: 0;
}

.titleBox {
  display: flex;
  margin-left: 3rem;
  gap: 1rem;
  & button {
    height: 70%;
    align-self: center;
  }
}

.deleteButton {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgb(180, 104, 104);
  border-width: 2px;
  &:hover {
    border-color: black;
  }
}
