.modalButton {
    background-color: rgba(10, 10, 10, 0);
    border: none;
    color: white;
  }

.modalButton:hover {
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255));
    }
    
}

.mediumModal {
  height: 20vh;
  width: 50vw;
  position: fixed;
  top: 10rem;
  background-color: #5a4b40;
  border: none;
  border-radius: 60px;
  border: 4px solid white;
  z-index: 2;
}

.smallModal {
  height: 70vh;
  width: 70vw;
  position: fixed;
  top: 10rem;
  background-color: #5a4b40;
  border: none;
  border-radius: 60px;
  border: 4px solid white;
  z-index: 2;
}

.largeModal {
  height: 75vh;
  width: 70rem;
  position: fixed;
  top: 5rem;
  background-color: #5a4b40;
  border: none;
  border-radius: 60px;
  border: 4px solid white;
  z-index: 2;

}

.closeDialog {
    position: absolute;
    right: 25px;
    top: 20px;
    background-color: rgb(131, 63, 63);
    border: 3px solid white;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
        background-color: rgb(172, 84, 73);
        filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }

}