.listForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 2;
    padding-right: 2rem;
}

.createListButton {
color: white;
background-color: rgb(112, 142, 150);
border-color: white;
    &:hover {
        background-color:rgba(110, 77, 76) ;
    }
       
}