.listForm {
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    flex-direction: column;
    gap: 2rem;
}

.createListButton {
color: white;
background-color: rgb(112, 142, 150);
border-color: white;
    &:hover {
        background-color:rgba(110, 77, 76) ;
    }
    
       
}

label {
    justify-self: center;
    align-self: center;
    gap: 1rem;
}